{
  "parser": "babel-eslint",
  "env": {
      "es6": true,
      "browser": false,
      "mocha": true,
      "node": true
  },
  "extends": [
      "eslint:recommended",
      "plugin:import/errors",
      "plugin:import/warnings",
      "prettier"
  ],
  "plugins": [
      "import",
      "mocha-no-only",
      "prettier"
  ],
  "rules": {
      "mocha-no-only/mocha-no-only": ["error"],
      "prettier/prettier": ["error", {
          "singleQuote": true,
          "tabWidth": 4,
          "trailingComma": "all",
          "arrow-parens": "avoid"
      }],
      "import/no-extraneous-dependencies": "off",
      "no-console": ["error", { "allow": ["warn", "error"] }],
      "no-unused-vars": ["error", { "ignoreRestSiblings": true }],
      "import/no-named-as-default": "off",
      "require-yield": "off"
  }
}
