{
    "parser": "babel-eslint",
    "env": {
        "es6": true,
        "browser": false,
        "mocha": true,
        "node": true
    },

    "extends": [
        "prettier",
        "eslint:recommended",
        "plugin:import/errors",
        "plugin:import/warnings"
    ],
    "plugins": ["prettier", "import", "mocha-no-only"],
    "rules": {
        "prettier/prettier": [
          "error",
          {
            "singleQuote": true,
            "parser": "flow",
            
          }
        ],
        "arrow-body-style": "off",
        "prefer-arrow-callback": "off",
        "mocha-no-only/mocha-no-only": ["error"],
        "import/no-extraneous-dependencies": "off",
        "no-console": ["error", { "allow": ["warn", "error"] }],
        "no-unused-vars": ["error", { "ignoreRestSiblings": true }],
        "import/no-named-as-default": "off",
        "require-yield": "off"
    }
}
