node:
    image: node:8.17.0-alpine
    volumes:
        - .:/app
    working_dir: /app

npm:
    extends:
        file: ./docker-compose.yml
        service: node
    environment:
        http_proxy: ${http_proxy}
        https_proxy: ${https_proxy}
        no_proxy: "localhost,127.0.0.1,"
    entrypoint: ['npm']

server:
    extends:
        file: ./docker-compose.yml
        service: node
    ports:
        - 3000:3000
    command: node launcher.js
