redis:
    image: redis:3.2

postgres-dev:
    image: postgres:9.5
    volumes:
        - ./backups:/backups
    environment:
        POSTGRES_USER: postgres
        POSTGRES_PASSWORD: secret
        POSTGRES_DB: bibapi-dev
        PGDATA: /var/lib/postgresql/data/pgdata
    volumes:
        - ./backups:/backups
        - /applis/bibapi/home/postgresql-dev:/var/lib/postgresql/data/pgdata

server:
    extends:
        file: ./docker-compose.yml
        service: node
    environment:
        NODE_ENV: development
        http_proxy: ${http_proxy}
        https_proxy: ${https_proxy}
        POSTGRES_USER: postgres
        POSTGRES_PASSWORD: secret
        POSTGRES_DB: bibapi-dev
        POSTGRES_HOST: postgres-dev
    links:
        - redis
        - postgres-dev
    ports:
        - 3000:3000
    command: node launcher.js
