version: "2"
services:
  redis-test:
    image: redis:3.2

  postgres-test:
    image: postgres:9.5
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: secret
      POSTGRES_DB: bibapi-test
    volumes:
      - ./backups:/backups
      - /applis/bibapi/home/postgresql-test:/var/lib/postgresql/data
  server:
    image: node:8.17.0-alpine
    volumes:
      - .:/app
    working_dir: /app
    environment:
      NODE_ENV: test
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: secret
      POSTGRES_DB: bibapi-test
      POSTGRES_HOST: postgres-test
    depends_on:
      - redis-test
      - postgres-test
      - maildev-test
    links:
      - redis-test
      - postgres-test
      - maildev-test
    command: node_modules/mocha/bin/mocha test/mocha test/mocha/**/*.js
  maildev-test:
    image: djfarrelly/maildev
    ports:
      - 1081:80
