{
    "port": 3000,
    "host": "localhost",
    "ebsco": {
        "host": "ebscohost",
        "profile": {
            "vie": "profile_vie_id",
            "shs": "profile_shs_id"
        },
        "resultsPerPage": 20
    }
}
