{
    "ebsco": {
        "host": <ebscohost>,
        "resultsPerPage": <20>
    },
    "auth": {
        "secret": <secret>
    },
    "pureRoute": true,
    "EzProxy": {
        "port": <?ez-proxy-port>,
        "secret": <ez-proxy-secret>
    }
}
